
/* 영어 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto&display=swap');


/* 한글 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
 font-family: 'Borel', cursive;
 font-family: 'Roboto', 'GmarketSansMedium';
 min-width: 500px;
}

/* 변수 */
:root {
	--main-color: #4B594B;
	--common-transition: .3s;
}

/* 라이브러리*/


.con {
	max-width: 2300px;	
}

/* 헤더 시작---------------------------------*/

.top-menu-wrap > div > ul > li > a {
	height: 100%;
	display: block;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	white-space: nowrap;
}

.top-menu-wrap ul ul {
	opacity: 0;
	transition: opacity var(--common-transition);
	position: absolute;
	top: 50px;
  font-size: 15px;
	line-height: 40px;
	text-align: center;
	background-color: var(--main-color);
	padding: 20px;
	border: 1px solid var(--main-color);
	border-radius: 20px;
}

.top-menu-wrap ul > li:hover ul {
	display: block;
	opacity: 1;
}

.top-menu-wrap .top-menu-1 ul ul {
	left: -30px;
}

.top-menu-wrap .top-menu-2 ul ul {
	left: 80px;
	white-space: nowrap;
}

.top-menu-wrap > div > ul > li {
	position: relative;
}

.logo {
	flex-shrink: 0;
}

.logo > img {
	width: 150px;
	height: 36px;
	display: block;
}

.top-menu-btn {
	padding: 8px 20px;
	background-color: var(--main-color);
	border-radius: 25px;
}

.top-korea-menu:hover .english-btn > a{
	display: block;
}
.top-korea-menu {
	position: relative;
}
.english-btn > a{
	font-size: 18px;
	display: none;
	position: absolute;
	top: 40px;
	left: 100px;
}

/* 헤더 끝 ----------------------------------*/

/* 메인 시작-----------------------------*/


/* 비디오 1 */
.section-video-1 video {
	  width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
	  z-index: -1;
}

/* 비디오 1 끝 */

/* 메인 text-1 시작*/
.main-text-1{
	position: absolute;
	bottom: 14vh;
}

.main-text-1 > h1 {
	font-weight: bold;
	font-size: 2.2rem;
}
.main-text-1 > p {
	font-size: 0.9rem;
}
/* 메인 text-1 끝 */

/* 메인 text-2 시작 */

.main-text-2 p{
	opacity: 0;
	position: absolute;
	font-size: 25px;
	right: 60px;
	line-height: 1.8;
	top: 300px;
}
.main-text-2 strong {
	font-weight: bold;
	font-size: 27px;
}
/* 메인 text-2 끝 */


/* 상단 스크롤 btn */
.scr-top-btn img{
	width: 20px;
}

.scr-top-btn > a {
	position: fixed;
	bottom: 40px;
	right: 40px;
	padding: 25px;
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 40px;
}



/* 메인 끝------------------------------------------ */

/* 반응형 */

@media (min-width: 1281px) {
	.mobile-top-bar {
		display: none;
	}
}
@media (min-width: 500px) and (max-width: 1970px) {
	.top-menu-1 > ul {
		margin-left: 40px;
	}
	.main-text-1 {
		margin-left: 40px;
	}
	.top-menu-2 > ul {
		margin-right: 40px;
	}
	.mobile-top-menu-2 > ul {
		margin-right: 40px;
	}
	.mobile-top-logo {
		margin-left: 10px;
	}
}
	
	
@media (max-width: 1280px) {
	.pc-top-bar {
		display: none;
	}
}